<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>待办事项</title>
</head>
<body>

    <button>新增待办事项</button>
    <ul>
    {% for value in data %}
        <li>{{ value[1] }} <button onclick="deleteTodo({{ value[0] }})"> 删除 </button></li>
    {% endfor %}
    </ul>

    <script>
        function deleteTodo(index) {
            console.log("deleting: ", index);
            fetch('http://127.0.0.1:5000/todo/'+index,{ method: "DELETE" })
                .then(
                    function(response) {
                        console.log(response.json());
                    }
                )
                .then(
                    function(response) {
                       window.location.reload();
                    }
                )
        }
    </script>
</body>
</html>